<style>
  img{
     width: 100%;
     height: 80%;    
  }
  p1{
    color: skyblue;
    align: center;
  }
 div{
    
 }
 .container{
 }
 .text{
     left: 650px; 
     width: 450px; 
     bottom: 300px;
     font-color: red; 
     font-size: 1.8em; 
     font-weight: bold; 
     position: absolute;"
 }
 .background{
    height: 560px;
    width: 1420px;
     background-image: url(https://i.pinimg.com/474x/88/2a/d4/882ad49d75925177f7c5d9065f02975b.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
 }
</style>

<div class="background">
  <div class="text">
    <p1>Welcome to Blog</p1>
  </div>
</div>

